<main class="main">
  <!-- <app-hole-overlay></app-hole-overlay> -->
  <div class="content">

    <div class="game-header">
      <h3 class="white text">cyberpawn</h3>
      <button class="audio-button" (click)="toggleAudio()" aria-label="Toggle sound">
        {{ !isPlayingMusic ? '🔇' : '🔈' }}
      </button>
    </div>

    <div class="grid" [ngStyle]="{ 'grid-template-columns': 'repeat(' + columnCount + ', 1fr)' }">
      <ng-container *ngFor="let row of currentLevel.board; let y = index">
        <ng-container *ngFor="let cell of row; let x = index">
          <button
            (click)="moveToPosition(x, y)"
            class="cell-button">

          <ng-container>
            <img [src]="getTile(x, y)" class="tile-overlay"/>
          </ng-container>

          <ng-container *ngIf="isThereATree(x, y)">
            <img src="assets/tileset32x32/pisoapagado.png" class="tile-overlay" />
          </ng-container>
          
          <ng-container *ngIf="isAvailablePosition(x, y)">
            <div (mouseenter)="onHoverEnter(x, y)" (mouseleave)="onHoverLeave()" >
            <img
              [src]="isHovered(x, y)
                ? 'assets/tileset32x32/animacionpiso32x32activado.gif'
                : 'assets/tileset32x32/pisoporseleccionar.gif'"
              class="tile-overlay clickable-tile" />
            </div>
          </ng-container>

          <ng-container *ngIf="isExitPosition(x, y)">
            <img src= 'assets/tileset32x32/pisoencendidoconlucesneon.gif' class="tile-overlay" />
          </ng-container>

          <ng-container *ngIf="isSamePosition(x, y) && !liveLostMessage">
            <img src="assets/animacionpeon32x32.gif" alt="User" class="user" />
          </ng-container>

          <ng-container *ngIf="getEnemyTypeAt(x, y) as scr">
            <img [src]="'assets/' + scr.toLowerCase() + '.gif'" [alt]="scr" class="user enemy" />
          </ng-container>

          <ng-container *ngIf="isThereACoin(x, y)">
            <img [src]="getCoinType(x, y)" alt="Coin" class="coin-overlay" />
          </ng-container>

          </button>
        </ng-container>
      </ng-container>
    </div>
  
    <div class="data-section"  *ngIf="showDiv">
      <div class="score-section">
        <h3 class="score">Score: {{totalScore}}</h3>
         <h3 class="score">Moves: {{totalMoves}}</h3>
      </div>

      <div class="lives-section">
        <div *ngFor="let _ of [].constructor(lives)">
          <i class="fa-solid fa-heart"></i>
        </div>
      </div>
    </div>

    <div class="control-panel" *ngIf="!liveLostMessage && showDiv && !winCondition">
      <div class="dice-panel">
        <div class=""  *ngIf="dices.length === 0">
          <button   class="re-roll-button fa-solid fa-arrows-rotate" (click)="reRoll()"></button>
        </div>
        <div class="dices-container" *ngIf="dices.length > 0" >
          <div *ngFor="let dice of dices; let d = index">
            <div>
              <span class="dice" [ngClass]="'dice-' + dice"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="character-select">
        <button
          *ngFor="let character of characters; let i = index"
          [class.active]="selectedCharacterIndex === i"
          (click)="selectCharacter(i)"
          [title]="character.name"
          [disabled]="!availableCharacter(character.name)">
            <i [class]="character.icon"></i >
            <span class="count">
            x{{ getCharacterCount(character.name) }}
            </span>
        </button>
      </div>
    </div>

    <div class="bottom-panel" *ngIf="liveLostMessage && lives > 0 && showDiv && !winCondition">
      <div class="">
        <button   class="tryAgainButton" (click)="tryAgain()">Try Again</button>
      </div>
    </div>

    <div class="bottom-panel" *ngIf="liveLostMessage && lives <= 0 && showDiv && !winCondition && false">
      <div class="">
        <button   class="tryAgainButton" (click)="gameOver()">Game Over</button>
      </div>
    </div>

    <div class="bottom-panel"  *ngIf="lives <= 0 || winCondition">
      <div class="loading-dots">
        <span></span><span></span><span></span>
      </div>
    </div>
   
  </div>



</main>

<router-outlet />
