<div class="game-banner"
	[ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }">
	

    <div class="game-result">
      <img  [src]="getResultTitle()"  alt="Result" />
    </div>

    <div class="result">
      <div class="dancing-text">
        <h2>Final Score: {{points}}</h2>
      </div>
      <div class="dancing-text-wooble">
        <h2>Total Moves: {{moves}}</h2>
      </div>
    </div>

    <!-- <button class="start-game-button" routerLink="/game">Start Game</button> -->
   <a [routerLink]="'/game'" class="start-button-wrapper">
      <img src="assets/botonreplay.png" alt="Start Game" class="start-game-button" />
    </a>
</div>