<main class="main">
  <div class="content">

    <div class="main-title">
      <h3 class="white text">Ajedice</h3>
    </div>
  
      <div class="grid">
        <div *ngFor="let row of square; let y = index" class="row">
 
          <button
            *ngFor="let col of row; let x = index"
            (click)="moveToPosition(x, y)"
            [ngClass]="{ }" >

            <ng-container>
              <img [src]="getTile(x, y)" class="tile-overlay"/>
            </ng-container>

            <ng-container *ngIf="isThereATree(x, y)">
              <img src="assets/obstacle.png" alt="Coin" class="coin-overlay" />
            </ng-container>
            
            <ng-container *ngIf="isAvailablePosition(x, y)">
              <i class="fa-solid fa-square transparent"></i>
            </ng-container>

            <ng-container *ngIf="isSamePosition(x, y)">
              <img src="assets/user.png" alt="User" class="user" />
              <!-- <img src="assets/coin.gif" alt="Coin" class="coin-overlay" /> -->
            </ng-container>

            <ng-container *ngIf="getEnemyTypeAt(x, y) as scr">
              <img [src]="'assets/' + scr.toLowerCase() + '.png'" [alt]="scr" class="user" />
            </ng-container>

            <!-- <ng-container *ngIf="isDeathPosition(x, y)">
              <i class="fa-solid fa-circle transparent"></i>
            </ng-container> -->

            	<!-- Coin image if present -->
              <ng-container *ngIf="isThereACoin(x, y)">
                <img src="assets/coin.gif" alt="Coin" class="coin-overlay" />
              </ng-container>
          </button> 

        </div>

       
      </div>

      <div class="score-section">
        <h3 class="white text">Score: {{score}}</h3>
      </div>

      <div class="control-panel">
        <div class="dice-panel">
          <div class="button-wrapper">
            <button   class="fa-solid fa-arrows-rotate" (click)="reRoll()"></button>
          </div>
          <div class="dices-container">
            <div *ngFor="let dice of dices; let d = index">
              <div>
                <span class="dice" [ngClass]="'dice-' + dice"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="character-select">
          <button
            *ngFor="let character of characters; let i = index"
            [class.active]="selectedCharacterIndex === i"
            (click)="selectCharacter(i)"
            [title]="character.name">
            <i [class]="character.icon"></i>
          </button>
        </div>

        <div class="music-control-panel">
          
          <button (click)="playAudio()"><i class="fa-solid fa-play"></i></button>
          <button (click)="stopAudio()"><i class="fa-solid fa-pause"></i></button>
        </div>
        
      </div>

  </div>
</main>

<router-outlet />
