<div class="game-banner"
	[ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')' }">
	
  <div class="title">
    <h1>Cyberpawn</h1>
  </div>

    <div class="credits">
      <div class="area dancing-text-bounce">
        <h2>Programacion</h2>
        <h3>Bruno Pasquini</h3>
      </div>
      <div class="area dancing-text">
        <h2>Arte 2D</h2>
        <h3>Anwilina</h3>
      </div>
      <div class="area dancing-text-wooble">
        <h2>Audio</h2>
        <h3>Luka Weihmüller</h3>
        <h3>Agustin Lobos</h3>
      </div>
    </div>

    <!-- <button class="start-game-button" routerLink="/game">Start Game</button> -->
   <a [routerLink]="'/game'" class="start-button-wrapper">
      <img src="assets/botonplay.png" alt="Start Game" class="start-game-button" />
    </a>
</div>