.menu{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

.start-game-button{
    padding: 16px;
    font-size: 16px;
    background-color: rgb(88, 14, 42);
    color: rgb(148, 22, 57);
    border: 2px solid rgb(148, 22, 57);
    cursor: pointer;
    font-family: "Press Start 2P", cursive;

    position: absolute;
	top: 560px;
	left: 50%;
	transform: translateX(-50%);
}

h1{
	margin: 0px;
    color:white;
    vertical-align: middle;
    text-align: center;
    font-size: 48px;
    font-family: "Press Start 2P", cursive;
}

h2{
	margin: 24px 0px 10px 0px;
    color:white;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
    font-family: "Press Start 2P", cursive;
}

h3{
	margin: 4px;
    color:white;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    font-family: "Press Start 2P", cursive;
}

.credits{
    display: flex;
    gap: 72px;
    vertical-align: middle;
    margin: 0px auto;
    width: fit-content;

    position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.area{
    min-width: 250px;
}

.game-banner{
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title{
    display: none;
}

.start-button-wrapper {

    display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 40px; /* or use position if needed */
}

.start-game-button {
	display: block;
	width: 200px;        /* or a size that works well */
	max-width: 80vw;     /* optional: responsive scaling on small screens */
	height: auto;

	cursor: pointer;
	user-select: none;
	border: none;
	background: none;
	padding: 0;
	margin: 0;

	transition: transform 0.1s ease, filter 0.1s ease;
}

.start-game-button:hover {
    margin-top: -1px;
    margin-left: -1px;
	filter: brightness(1.2);
}

.start-game-button:active {
    margin-top: 1px;
    margin-left: 1px;
	filter: brightness(0.9);
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .credits {
        flex-direction: column;
        gap: 2px;
    }
    .start-game-button{
        top: 720px;
    }

    .title{
        display: block;
    }
}
