<div class="game-banner"
	style=" background-image: url('assets/title_image.png');">
	
    <div class="credits">
      <div class="area">
        <h2>Programacion</h2>
        <h3>Bruno Pasquini</h3>
      </div>
      <div class="area">
        <h2>Arte 2D</h2>
        <h3>Anwilina</h3>
      </div>
      <div class="area">
        <h2>Audio</h2>
        <h3>Luka Weihmüller</h3>
        <h3>Agustin Lobos</h3>
      </div>
    </div>

    <button class="start-game-button" routerLink="/game">Start Game</button>
</div>