.menu{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
}

.start-game-button{
    padding: 4px;
    font-size: 16px;
    background-color: rgb(88, 14, 42);
    color: rgb(148, 22, 57);
    border: 2px solid rgb(148, 22, 57);
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
}

